@import "tailwindcss";

:root {
  --background: #e73c7e;
  --gradient-primary: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --gradient-size: 400% 400%;
}

@theme inline {
  --color-background: var(--background);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes ipulse {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.1; transform: scale(5); }
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

i.fas, i.far, i.fal {
  font-size: 1em;
}

body {
  background: var(--gradient-primary);
  background-size: var(--gradient-size);
  animation: gradientBG 15s ease infinite;
}

.bg-animated-gradient {
  background: var(--gradient-primary);
  background-size: var(--gradient-size);
  animation: gradientBG 15s ease infinite;
}

.ipulse {
    animation: ipulse 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
