@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes float {
    /* 0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); } */
}

@keyframes ipulse {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.1; transform: scale(5); }
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

i.fas, i.far, i.fal {
  font-size: 1em;
}

.bg-animated-gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.floating {
    animation: float 6s ease-in-out infinite; 
}

.ipulse {
    animation: ipulse 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.image-preview {
    transition: all 0.3s ease;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}

.image-preview:hover {
    filter: drop-shadow(0 20px 25px rgba(0, 0, 0, 0.4));
}